
@{
    ViewBag.Title = "Developer Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-12">
        <div class="card border-0 shadow-sm">
            <div class="card-body text-bg-light">
                <h5>Tasklarım</h5>
                <hr />
                <div class="row row-cols-2 row-cols-md-4">
                    <div class="col">
                        <div class="card border-1 border-dark-subtle h-100">
                            <div class="card-header text-bg-dark">
                                <i class="bi bi-hourglass-split me-2"></i>Task Title
                            </div>
                            <div class="card-body p-2">
                                <p class="h6">Difficulty Level</p>
                                <p>Description</p>
                                <p>Created User / Date</p>
                                <button class="btn btn-outline-primary btn-sm w-100" type="button">TASK TAMAMLANDI</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-success-subtle h-100">
                            <div class="card-header text-bg-success">
                                <i class="bi bi-check-lg me-2"></i>Task Title
                            </div>
                            <div class="card-body p-2">
                                <p class="h6">Difficulty Level</p>
                                <p>Description</p>
                                <p>Created User / Date</p>
                                <p>Completed Date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

