
@{
    ViewBag.Title = "Developer Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-12">
        <div class="card border-0 shadow-sm">
            <div class="card-body text-bg-light">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <h5>Developer Detayları</h5>
                        <div>
                            <a href="/manager/developer/1/edit" class="btn btn-warning btn-sm me-1"><i class="bi bi-pencil"></i></a>
                            <a href="/manager/developer/1/delete" class="btn btn-danger btn-sm me-1"><i class="bi bi-trash3"></i></a>
                            <a href="/manager/developer" class="btn btn-dark btn-sm"><i class="bi bi-house"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>Developer Adı</h3>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover caption-top">
                                <caption>Task Listesi</caption>
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Zorluk Seviyesi</th>
                                        <th>Oluşturan Kullanıcı</th>
                                        <th>Oluşturma Tarihi</th>
                                        <th>Atama Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Task 1</td>
                                        <td>
                                            <button type="button" class="btn btn-dark disabled btn-sm rounded-0">1 </button>
                                        </td>
                                        <td>Ali</td>
                                        <td>Tarih</td>
                                        <td>Tarih</td>
                                        <td>
                                            <a href="/manager/task/1/details" class="btn btn-info btn-sm me-1"><i class="bi bi-search"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


