<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task Distribution App</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @Html.Action("_Navbar", "Home")
        @RenderBody()

        <div class="modal fade" id="modal" data-backdrop="static" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modalContent"></div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="https://ziyacetinkaya.com" class="text-decoration-none text-dark" target="_blank">ziyacetinkaya.com</a></p>
        </footer>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/site.js"></script>

</body>
</html>