@{
    Layout = null;
}

<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 me-auto">Task Distribution App</span>
        <div class="d-flex gap-3 align-items-center" >
            <div class="d-flex flex-column text-end">
                <span>Ziya Çetinkaya</span>
                <small class="text-secondary">Developer</small>
            </div>
            <a href="/logout" class="btn btn-danger btn-sm">Çıkış Yap</a>
        </div>
    </div>
</nav>