@model task_distribution_app.Models.ViewModels.TaskVM
@{
    ViewBag.Title = "Task Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-12">
        <div class="card border-0 shadow-sm">
            <div class="card-body text-bg-light">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <h5>Yeni Task</h5>
                        <div>
                            <a href="/analyst" class="btn btn-dark btn-sm"><i class="bi bi-house"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-12 mb-2">
                        @using (Html.BeginForm("TaskCreateForm", "Analyst", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="mb-3">
                                <label for="title" class="form-label">Başlık</label>
                                @Html.TextBoxFor(m => Model.title, new { @class = "form-control", type = "text", required = "required" })
                            </div>
                            <div class="mb-3">
                                <label for="difficulty" class="form-label">Zorluk Seviyesi</label>
                                @Html.DropDownList("difficultylevelId", null, htmlAttributes: new { @class = "form-select", required = "required" })
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Açıklama</label>
                                @Html.TextAreaFor(m => Model.description, new { @class = "form-control", @rows="5" })
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary w-100">Kaydet</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

