
@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row w-100 justify-content-center">
    <div class="col-lg-3 col-md-4 col-12">
        <div class="card border-0 shadow rounded-3">
            <div class="card-body p-4">
                <h6 class="card-title">Giriş Yap</h6>
                <hr />
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Şifre</label>
                    <input type="password" class="form-control" id="password" placeholder="******">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
                </div>
            </div>
        </div>
    </div>
</div>

