@model task_distribution_app.Models.ViewModels.UserVM
@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row w-100 justify-content-center">
    <div class="col-lg-3 col-md-4 col-12">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger text-center">
                <span>HATA: @ViewBag.Error</span>
            </div>
        }
        <div class="card border-0 shadow rounded-3">
            <div class="card-body p-4">
                <h6 class="card-title">Giriş Yap</h6>
                <hr />
                @using (Html.BeginForm("LoginForm", "Auth", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        @Html.TextBoxFor(m => Model.username, new { @class = "form-control", type = "text", placeholder = "Kullanıcı Adı", required = "required" })
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Şifre</label>
                        @Html.TextBoxFor(m => Model.password, "", new { @class = "form-control", placeholder = "Şifre", type = "password", required = "required" })
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

